<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>Online Shopper</title>
  </head>
  <body>
    <% include ../partials/nav %>
    <div id="container" class="fluid">
      <main role="main">
        <% include ../partials/jumbotron %>
        <div class="container">
          <%- row1 %>
          <%- row2 %>
          <%- row3 %>
      </main>
    </div>
    <% include ../partials/footer %> <% include ../partials/scripts %>
  </body>
</html>
